.landing{
    // background-color: $red;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 95vh;
    max-height: 900px;
    padding: 0px 100px;


    .master-container{
        // background-color: red;
        width: 100%;
        max-width: 1300px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .main-box{
            // background-color: red;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            // margin-left: 12vw;
            .big-letter-box{
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                margin-left: 30px;
                .red{
                    color: $red;
                }
            }
        }
        .profile-pic{
            height: 500px;
            border-radius: 10px;
            border: 1px solid $blue;
        }

    
        @media (max-width: 1200px){
            max-width: 800px;
            .profile-pic{
                height: 350px;
            }
        }
        @media (max-width: 1000px){
            .profile-pic{
                height: 300px;
            }
        }
        @media (max-width: 850px){
            .profile-pic{
                height: 260px;
            }
        }
        @media (max-width: 680px){
            .profile-pic{
                height: 230px;
                max-height: 33vh;
            }
        }
        @media (max-width: 600px){
            .profile-pic{
                height: 210px;
            }
        }
        @media (max-width: 550px){
            flex-direction: column;
            align-items: space-around;
            height: 70vh ;
            max-height: 460px;

            .profile-pic{
                height: 240px;
            }
        }
        @media (max-width: 430px){
            .main-box{
                width: 100%;
                .big-letter-box{
                    width: 100%;
                    display: flex;
                    justify-content: space-around;
                    flex-direction: row;
                    margin-left: 0px;
                }
            }
        }
    }


    .pull-down{
        // background-color: gray;
        position: relative;
        top: 80px;
        width: 100%;
        height: 90px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        p{
            letter-spacing: 3px;
            word-spacing: -5px;
            font-size: 18px;
            font-weight: 400;
            color: white;
        }
        img{
            height: 30px;
        }
        @media (max-width: 400px) {
            top: 30px;
            p{
                font-size: 17px;
            }
        }
    }

    @media(max-width: 1400px){
        max-height: 800px;
    }
    @media(max-width: 1000px){
        max-height: 600px;
    }
    @media (max-width: 850px){
        padding: 0px 85px;
    }
    @media (max-width: 730px){
        padding: 0px 65px;
    }
    @media (max-width: 680px){
        padding: 0px 65px;
        padding-right: 55px;
    }
    @media (max-width: 550px){
        justify-content: flex-start;
        height: 85vh;
        max-height: 500px;
        padding: 10px 10px;
    }
    @media (max-width: 400px){
        height: 100vh;
        max-height: none;
        min-height: 75vh;
    }
    
}