

$primaryBackground: #24252E;
$lightGray: #c2c4c7;
$red: #D62737;
$blue: #06eeff;
$green: #73ff9d;

.App {
  min-height: 100vh;
  text-align: center;
  background-color: $primaryBackground;
  color: white;
  h1{
    
  }
  h2{
    
  }
  h3{
    
  }
  p{
  
  }
  

}

@import './about';
@import './contactBar';
@import './footer';
@import './header';
@import './landing';
@import './skillsExperience';

