

$primaryBackground: #24252E;
$primaryBackground: #24252E;
$lightGray: #c2c4c7;
$darkGray: #808181;
$red: #D62737;
$blue: #06eeff;
$green: #73ff9d;

.App {
  min-height: 100vh;
  text-align: center;
  background-color: $primaryBackground;
  color: white;
  padding-left: 100px;
  padding-right: 100px;
  h1{
    
  }
  h2{
    
  }
  h3{
    
  }
  p{
  
  }
  .fakeCode{
    font-size: 24px;
    color: $darkGray;
    word-spacing: -2px;
    font-family: 'Pangolin', cursive;
  }
  
  @media (max-width: 1400px){
    h1{
      font-size: 130px;
    }
  }
  @media (max-width: 1050px){
    h1{
      font-size: 90px;
    }
  }

}

@import './about';
@import './contactBar';
@import './footer';
@import './header';
@import './landing';
@import './skillsExperience';

